
body{
	font-family:"Microsoft YaHei";
	margin-left:0px;
	margin-top:-20px;
	}
.basic p{
	display: inline-block;
	margin-right:15px;
}
.massege p{
	display: inline-block;
	margin-right:15px;
}
span{
	margin-right: 5px;
	font-weight:bold; 
}
.email:first-letter{
	text-transform:uppercase;
}
.td{
	float: left;
	height:890px;
	background-color: green;
	color:white;
	padding-top: 50px;
	padding-left:30px;
	padding-right: 30px;
	margin-right: 30px;
}
section{
	padding-top:10px;
}