aside{
	float: left;
	width:300px;
	padding-top: 900px;
	background-color: orange;
	box-sizing: border-box;
}
section{
	margin-left: 300px;
	padding-top:900px;
	background-color: orange;
	
	border-left:5px solid #cccccc;
	box-sizing: border-box;
}